* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

main {
  text-align: center;
  font-size: 14px;
}

h2 {
  text-align: center;
}

ul{
  padding: 0;
}

li {
  list-style: none;
  border: 1px solid black;
  text-align: center;
}
