* {
  box-sizing: border-box;
  color: white;
  font-family: 'Lobster', cursive;
}

html {
  background-color: black;
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  background-color: #0000ff;
  height: 20%;
  padding: 5%;
  margin: 0px;
  margin-bottom: 5%;
  font-size: 24px;
}

main {
  text-align: center;
  font-size: 14px;
}

button {
  background-color:#0000ff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #080808;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1b1c1b;
}

button:hover {
  background-color:#f50e0e;
}

button:active {
  position:relative;
	top:1px;
}

.addBookmark-button {
  display: block;
  margin: auto;
  margin-bottom: 18px;
}

select {
  background-color: #080808
}

h2 {
  text-align: center;
}

ul{
  padding: 0;
}

li {
  list-style: none;
  border: 1px solid black;
  text-align: center;
  height: 20%;
}

.unexpanded-div {
  height: 40px;
  border: 3px white solid;
  margin: 0px 10% 15px 10%;
  padding-top: 5px;
}

.expanded-div {
  height: 100px;
  border: 1px white solid;
  margin: -15px 10% 15px 10%;
  background-color: #414141;
}

#expandView {
	border-radius:28px;
	border:1px solid #080808;
	font-size:8px;
	padding: 0px 5px;
	text-decoration:none;
  text-shadow:0px 1px 0px #1b1c1b;
  display: block;
  float: right;
  margin-top: 17px;
}

.bookmarkDescription {
  font-size: 12px;
  display: block;
  height: 55px;
  padding-top: 10px;
}

.visitSite {
  float: left;
  margin-left: 15%;
}

#deleteBookmark {
  border-radius:28px;
	border:1px solid #080808;
	font-size:8px;
	padding: 0px 5px;
	text-decoration:none;
  text-shadow:0px 1px 0px #1b1c1b;
  float: right;
  margin-top: 30px;
}

#js-bookmark-form {
  margin: 0px 10px 10px 10px;
  padding: -5px 5px 5px 5px;
  border: 1px white solid;
}

form>label {
  font-size: px;
}

#text-name, #text-url {
  width: 30%;
  display: inline-block;
  color: black;
}

#text-description {
  width: 55%;
  margin: 5px 0px 5px 0px;
  color: black;
}

#text-rating {
  width: 25%;
  color: black;
}

.addBookmarkForm-buttons {
  display: block;
  border: 1px white solid;
  padding: 5px 0px 5px 0px;
}